<div class="display-content">

	<div class="sidebar">
		<div class="sidebar-inside">
  		<div class="up">
  			<a id="button" class="btn btn-success wide-btn show-events" href="#">View Events</a>
  			<a id="new-event-button" class="btn btn-success wide-btn new-event" href="#" ng-show = <%= user_signed_in? %>>New Event</a>
        <a id="filter-by-date" class="btn btn-success wide-btn" href="#" ng-click="myFilter = { start_date: start }:gteComparator">Select by date</a>
        <a id="filter-by-date" class="btn btn-success wide-btn" href="#" ng-click="myFilter = ''">All the events</a>
        <input name="filter-date-input" type="date" min="2010-08-14" max="2020-08-14" value="2010-08-14" class="filter-date-input" ng-model="eventSearch" placeholder="search events"/>
      </div>
  		
  		<div class="mid"></div>
	
      <div class="down">
        Primer usuario de BBDD: <%= @users.first.email %> <br>
        estas logeado? <%=user_signed_in?%> <br>
        Usuario logeado: <%if user_signed_in? %><%= current_user.username %><%else%>none<%end%>
      </div>
		</div>
	</div>

	<div class="events-left-bar" id='hideshow' value='hide/show'>
		<div class="index-form">
      <%= render 'form' %>
    </div>		
	</div>

	
	<div id="map"><img src=<%=asset_path('coding_cat.gif')%> alt="Here goes a big map"></div>	


	<div class="events-right-bar scrollable-content" id='hideshow' value='hide/show'>
  <div class="search-field">
    <h3>Search:</h3><input name="filter-tag-input" type="text" class="filter-tag-input" ng-model="eventSearch" placeholder="search field"/>
  </div>
	 <%= render 'eventLister' %>
	</div>

</div>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjWs8h-6_5cCNsyTKC0H0x85NZ2ZjSq9U&signed_in=true&callback=createMap">
    </script>
<script async defer type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>