<!DOCTYPE html>
<html>
	<head>
		<title>CodingTogether</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" type="text/css" href="flexbox.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="logo">
					<img src=<%= asset_path('logo.png')%> class="title-logo">
				</div>
				<div class="header-buttons">
					button 1 / button 2 / button 3
				</div>
				<div class="header-login">
					You are loged as Pepito
				</div>
			</div>
			<div class="content">
				<%= yield %>
			</div>
			<div class="footer">
				<div>
					Webpage developed by Alejandro Martin
				</div>
			</div>
		</div>
		<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjWs8h-6_5cCNsyTKC0H0x85NZ2ZjSq9U&signed_in=true&callback=initMap"></script>
        <script type="text/javascript" src="geomaps.js"></script>
	</body>
</html>
