<!DOCTYPE html>
<html ng-app="eventManager">
	<head>
		<title>CodingTogether</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
		<%= csrf_meta_tags %>

	</head>
	<body ng-controller="eventController as eventShow">
		<div class="container">
			<div class="header">
				<div class="logo">
					<%= link_to image_tag(asset_path('logo.png'), :class => "title-logo"), root_path, 'data-no-turbolink' => true %>
				</div>
				<div class="header-buttons">
					<input name="filter-tag-input" type="text" class="filter-tag-input" ng-model="eventSearch" placeholder="search events"/>
				</div>
				<div class="header-login">
					<%= headerLogin.html_safe %>
				</div>
			</div>
			<div class="content">
				<%= yield %>
			</div>
			<div class="clear"></div>
			<div class="footer">
				<div class="center">
					Webpage developed by <a href="https://github.com/alejandromartincruz">Alejandro Martin</a>
				</div>
			</div>
		</div>
		<script src="http://rawgit.com/nmccready/angular-simple-logger/master/dist/angular-simple-logger.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.2.1/angular-google-maps.min.js"></script>

	</body>
</html>

